<div style="float: right; max-width: 800px;">
    <span class="glyphicon glyphicon-link" aria-hidden="true" title="Click it and start collaboration"
        ng-show="!collaboration" style="margin-left: 10px;cursor:pointer;margin-right: 30px;"
        ng-click="startCollab()"></span>
    <span class="glyphicon glyphicon-globe" aria-hidden="true" title="Click it and stop collaboration"
        ng-show="collaboration" style="margin-left: 10px;cursor:pointer;margin-right: 30px;"
        ng-click="stopCollab()"></span>
    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="Apply to draw the mind map" ng-show="!draw"
        style="cursor:pointer;margin-right: 20px;" ng-click="applyCtrl()"></span>
    <span class="glyphicon glyphicon-refresh" aria-hidden="true" title="Give up to draw the mind map" ng-show="draw"
        style="cursor:pointer;margin-right: 20px;" ng-click="giveupCtrl()"></span>
    <span class="glyphicon glyphicon-user" aria-hidden="true" title="{{drawer}} is drawing the mind map"
        style="margin-right: 10px;" ng-show="draw"></span>
    <span ng-show="draw" style="margin-right: 20px;margin-left: 10px;">{{leftApply}} people waiting for
        drawing.</span>
    <span class="glyphicon glyphicon-user" aria-hidden="true" ng-repeat="user in participants" title="{{user}}"
        style="margin-right: 15px;"></span>
</div>